:root {
  --font-DM-sans: 'DM Sans', sans-serif;
  --font-roboto-serif: 'Roboto Serif', serif;
  --color-gold: #d1aa67;
  --color-brown: #261311;
  --color-light-grey: #f2f2f2;
  --color-white: #ffffff;
  --color-red: #cc0000;
  --font-size-61: 3.8125rem;
  --font-size-48: 3.0519rem;
  --font-size-39: 2.4413rem;
  --font-size-31: 1.9531rem;
  --font-size-25: 1.5625rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-16: 1rem;
  --font-size-12: 0.8rem;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-18: 1.125rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-30: 1.875rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-80: 5rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --border-radius-6: 6px;
  --border-radius-10: 10px;
  --border-radius-20: 20px;
  --border-radius-50: 50px;
}

/* CSS reset */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-roboto-serif);
  font-size: var(--font-size-16);
  box-sizing: border-box;
  background: url('../images/landscape-shot-white-textured-background.webp')
    no-repeat center center fixed;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  color: var(--color-brown);
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.navbar {
  border-bottom: 2px solid var(--color-white);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  margin-bottom: 0;

  #navbar-container {
    @media (max-width: 768px) {
      padding: 0;
    }

    & .navbar-toggler {
      margin-right: var(--spacing-16);
      position: relative;
      z-index: 980;
      border: 2px solid var(--color-white);
      background-color: var(--color-gold);

      &:focus {
        box-shadow: none;
      }
    }

    & .navbar-collapse {
      background-color: var(--color-gold);
      padding: var(--spacing-16) 0;
      position: absolute;
      width: 100%;
      top: 0px;
      box-shadow: 0px 0px 10px 1px var(--color-brown);
      z-index: 10;

      @media (min-width: 768px) {
        position: relative;
        box-sizing: border-box;
        background-color: transparent;
        box-shadow: unset;
        justify-content: center;
      }

      & .navbar-nav {
        align-items: center;

        & a {
          color: var(--color-white);
          font-family: var(--font-roboto-serif);
          font-family: var(--font-size-31);
        }

        & a:hover {
          font-weight: 900;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.hero-section {
  margin: 0;
  width: 100%;
  height: 100vh;
  margin-bottom: var(--spacing-40);
  position: relative;

  & .hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  & .carousel {
    height: 100%;
  }

  & .hero-section-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;

    & .carousel-inner {
      height: 100%;
      border-radius: 0;
    }

    & .carousel-item,
    & picture,
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .carousel-control-next {
      & .carousel-control-next-icon {
        height: 4rem;
        width: 4rem;
      }
    }

    & .carousel-control-prev {
      & .carousel-control-prev-icon {
        height: 4rem;
        width: 4rem;
      }
    }

    & .arrow-next-section {
      position: absolute;
      bottom: 40px;
      z-index: 999;
    }
  }
}

.about-us {
  margin-bottom: var(--spacing-40);

  & .about-us-container {
    & .about-us-container-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--spacing-30);

      & h1 {
        color: var(--color-brown);
        font-size: var(--font-size-24);

        @media (min-width: 768px) {
          font-size: var(--font-size-31);
        }
      }

      & a {
        font-size: var(--font-size-16);
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.6);
        color: var(--color-gold);
        border-radius: var(--border-radius-10);
        padding: var(--spacing-2) var(--spacing-8);
        display: flex;
        gap: var(--spacing-20);
        cursor: pointer;

        @media (min-width: 768px) {
          font-size: var(--font-size-24);
        }
      }

      & a:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
      }
    }

    & .about-us-container-grid {
      @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        & .about-us-container-grid-item:first-child {
          order: 2;
          padding: 0 0 0 var(--spacing-12);
        }

        & .about-us-container-grid-item:last-child {
          padding: 0 var(--spacing-12) 0 0;
        }
      }

      & .about-us-container-grid-item {
        & p {
          text-align: end;
          margin-bottom: var(--spacing-16);
        }

        & .about-us-container-grid-item-overlay {
          position: relative;
          overflow: hidden;
          border-radius: var(--border-radius-20);
          margin-bottom: var(--spacing-20);

          &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            z-index: 1;
            border-radius: var(--border-radius-20);
          }

          &::after {
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border: 2px solid var(--color-white);
            border-radius: var(--border-radius-20);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            z-index: 2;
          }

          &:hover::before,
          &:hover::after {
            opacity: 1;
          }

          & img {
            transition: transform 0.3s ease-in-out;
            display: block;
            width: 100%;
            height: auto;
          }

          &:hover img {
            transform: scale(1.1);
          }

          & h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: white;
            font-size: var(--font-size-24);
            text-align: center;
            display: none;
            @media (min-width: 768px) {
              font-size: var(--font-size-31);
            }
          }

          &:hover h2 {
            display: block;
          }
        }
      }
    }
  }
}

.box-cta {
  margin-bottom: var(--spacing-40);

  & .box-cta-container {
    & .box-cta-container-item {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--color-brown);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
      padding: var(--spacing-24) var(--spacing-16);
      border-radius: var(--border-radius-6);
      align-items: flex-start;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-24) var(--spacing-20);
      }

      & h2 {
        font-size: var(--font-size-20);
        font-weight: 500;
        margin-bottom: var(--spacing-20);

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      & p {
        font-size: var(--font-size-16);
        font-weight: 400;
        margin-bottom: var(--spacing-20);

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      & a {
        text-decoration: none;
        color: var(--color-white);
        background-color: var(--color-red);
        padding: var(--spacing-8) var(--spacing-16);
        border-radius: var(--border-radius-6);
        align-self: center;

        @media (min-width: 768px) {
          margin-bottom: 0;
          text-align: center;
        }
      }

      & a:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}

.our-spaces {
  margin-bottom: var(--spacing-40);

  & .our-spaces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
      margin-bottom: var(--spacing-40);
    }

    .swiper {
      width: 100%;
      max-width: 1200px;
      border-radius: var(--border-radius-20);

      & .swiper-wrapper {
        & .swiper-slide {
          position: relative;
          background-position: center;
          background-size: cover;
          width: 500px;
          height: 350px;
          border-radius: var(--border-radius-20);
          overflow: hidden;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          transition: transform 0.3s;

          & a {
            display: block;
            height: 100%;
            position: relative;

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }

            & .overlay {
              position: absolute;
              inset: 0;
              background-color: rgba(0, 0, 0, 0.5);
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              opacity: 0;
              transition: opacity 0.8s ease;
              font-size: 1.25rem;
              font-weight: bold;
              text-align: center;
              padding: 1rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              @media (max-width: 768px) {
                opacity: 1;
                transition: opacity 2s ease;
              }

              & h2 {
                font-family: var(--font-roboto-serif);
                font-size: var(--font-size-20);
                margin-bottom: var(--spacing-2);

                @media (min-width: 768px) {
                  font-size: var(--font-size-31);
                }
              }

              &::after {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                border: 2px solid var(--color-white);
                border-radius: var(--border-radius-20);
                opacity: 1;
                transition: opacity 0.8s ease-in-out;
                z-index: 2;
              }
            }

            &:hover .overlay {
              opacity: 1;
            }
          }
        }

        @media (max-width: 768px) {
          & .swiper-slide {
            width: 288px;
            height: 192px;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        color: #d5b573;
      }

      & .swiper-button-prev {
        left: 0;
      }

      & .swiper-button-next {
        right: 0;
      }
    }
  }
}
