:root {
  --font-DM-sans: 'DM Sans', sans-serif;
  --font-roboto-serif: 'Roboto Serif', serif;
  --color-gold: #d1aa67;
  --color-brown: #261311;
  --color-light-grey: #f2f2f2;
  --color-white: #ffffff;
  --font-size-61: 3.8125rem;
  --font-size-48: 3.0519rem;
  --font-size-39: 2.4413rem;
  --font-size-31: 1.9531rem;
  --font-size-25: 1.5625rem;
  --font-size-20: 1.25rem;
  --font-size-16: 1rem;
  --font-size-12: 0.8rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-80: 5rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
}

/* CSS reset */

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto-serif);
  font-size: var(--font-size-16);
  box-sizing: border-box;
  background: url('../images/landscape-shot-white-textured-background.webp')
    no-repeat center center fixed;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0px 0px 10px 1px #000000;
  box-sizing: border-box;
  margin-bottom: var(--spacing-40);

  #navbar-container {
    padding: 0;

    & .navbar-toggler {
      margin-right: var(--spacing-16);
      position: relative;
      z-index: 980;
    }

    & .navbar-collapse {
      background-color: var(--color-gold);
      padding: var(--spacing-16) 0;
      position: absolute;
      width: 100%;
      top: 0px;
      box-shadow: 0px 0px 10px 1px var(--color-brown);
      z-index: 10;

      @media (min-width: 768px) {
        position: relative;
        box-sizing: border-box;
        background-color: transparent;
        box-shadow: unset;
      }

      & .navbar-nav {
        align-items: center;
      }
    }
  }
}

.hero-section {
  margin-bottom: var(--spacing-40);

  & .hero-section-container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .carousel-inner {
      border-radius: 20px;

      @media (min-width: 768px) {
        width: 80%;
      }
    }

    & button {
      & .carousel-control-prev-icon {
        @media (min-width: 768px) {
          background-image: url(../images/icons8-previous-50.webp);
        }
      }

      & .carousel-control-next-icon {
        @media (min-width: 768px) {
          background-image: url(../images/icons8-next-50.webp);
        }
      }
    }
  }
}
