:root {
  --font-DM-sans: 'DM Sans', sans-serif;
  --font-roboto-serif: 'Roboto Serif', serif;
  --color-gold: #d1aa67;
  --color-brown: #261311;
  --color-light-grey: #f2f2f2;
  --color-white: #ffffff;
  --font-size-61: 3.8125rem;
  --font-size-48: 3.0519rem;
  --font-size-39: 2.4413rem;
  --font-size-31: 1.9531rem;
  --font-size-25: 1.5625rem;
  --font-size-20: 1.25rem;
  --font-size-16: 1rem;
  --font-size-12: 0.8rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;
}

/* CSS reset */

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto-serif);
  font-size: var(--font-size-16);
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-16);
}

@media (max-width: --var(--breakpoint-mobile)) {
  .container {
    padding: 0 var(--spacing-8);
  }
}
